body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

.halfgray {
	background: url('../images/bg-trans.png');
}

.fourfifthgray {
	background: url('../images/menu-footer.png');
}

img.toplogo {
	margin-top: 25px;
}


#evftr {
    /*margin-top: 0px; */
    float: right;
    /* margin-right: 0px; */
    }

.evftr-info {
    float: right;
    background: #fff;
    margin: 15px 0px 10px 20px; 

    }

.evftr-info:last-child {
    margin-left: 0px;
}

.evftr-date {
    text-align: center;
    padding: 10px;
    float: right;
    width: 120px;
    color: #000;
    height: 100px;
    border-bottom: 3px solid #bbb;
	overflow: hidden;

	font-size: 14px;
	line-height: 20px;
    }


.evftr-date:hover {
    border-bottom:3px solid #fdb813;
}


.evftr-dm {
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    }

.evftr-week {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
	
	color: #fdb813;
    }

header, section,footer {
    float: left;
    width: 100%;
    clear: both;
	
	box-sizing: border-box;
	padding: 0 20px;
}



section#menu {
	box-sizing: border-box;
	margin-top: 10px;
}

section#slider {
	margin-top: 10px;
}


#wizemenu > ul > li:hover > a,
#search-button,
#wp-calendar tbody td:hover,
#wizemenu > ul > li > a:active,
#wizemenu > ul ul li a:hover {
    background:#fdb813;
}

#wizemenu &gt; ul ul {
visibility: hidden;
top: 50px;
margin: 0px;
padding: 0;
opacity: 0;
z-index: 1000;
position: absolute;
}


.main-navigation {
	margin: 10px 0px;
}


.show-on-mobiles {
    display: none
}

@media screen and (max-width: 568px) {
    .show-on-mobiles {
        display:block !important
    }

    a .show-on-mobiles {
        display: inline !important
    }

    .hide-on-mobiles {
    	display: none;
    }
}

@media screen and (max-width: 768px) {
	/* TODO */
	.evftr-info {
		width: 100% !important;
	}

	.evftr-date {
		box-sizing: border-box;
		width: 100% !important;
	}

	.evftr-info:last-child {
			display: none;
	}

}

.wholeimage {
	background: #fff;
	padding: 20px;
	margin: 20px 0px;
}


@media screen and (max-width: 568px) {
	header, section,footer {    
		padding: 0px;
	}
	
	img.toplogo {
		margin: 20px 0px;
	}

	/* TODO - floating sizes */

	.evftr-info {
		display: none;
	}

	.evftr-info:first-child {
		display: block;
	}

	.main-navigation {
		margin: 0px;
	}

	section#menu {
		box-sizing: border-box; 
		margin-top: 0px;
	}

	section#slider {
		margin-top: 0px;
	}

	#wizemenu > ul > li > a {
		padding: 5px 10px 1px 10px;	
	}


	.wholeimage {
		padding: 5px;
	}

	
}

